<div class="body-content">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/painel']">Painel</a></li>
            <li class="breadcrumb-item active" aria-current="page">Produto</li>
        </ol>
    </nav>

    <div>
        <button class="btn btn-warning">LIMPAR FILTRO</button>
        <button class="btn btn-success">PESQUISAR</button>
    </div>

    <div class="d-flex justify-content-end">
        <button class="btn btn-success">CRIAR PRODUTO</button>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
        </tbody>
    </table>

</div>