<div class="body-content">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/painel']">Painel</a></li>
            <li class="breadcrumb-item active" aria-current="page">Produto</li>
        </ol>
    </nav>

    <div class="jumbotron-filtro">
        <div class="row">
            <div class="mb-3 col-md-6 form-group">
                <label for="produto">Produto:</label>
                <select class="form-control" id="produto">
                    <option selected>Selecione...</option>
                    <option>Curso Completo de Teste Automatizado</option>
                    <option>Curso Completo de Teste de Software</option>
                    <option>Curso Completo de Teste Funcional</option>
                </select>
            </div>
            <div class="mb-3 col-md-6 form-group">
                <label for="categoria">Categoria:</label>
                <select class="form-control" id="categoria">
                    <option selected>Selecione...</option>
                    <option>E-book</option>
                    <option>Curso</option>
                    <option>Arquivo</option>
                </select>
            </div>
        </div>

        <div class="d-flex justify-content-end">
            <button class="btn btn-warning">LIMPAR FILTRO</button>
            <button class="btn btn-success ml-2">PESQUISAR</button>
        </div>
    </div>


    <div class="d-flex justify-content-start">
        <button class="btn btn-success mb-3" [routerLink]="['/produto/novo']">CRIAR PRODUTO</button>
    </div>

    <form>
        <div class="form-group form-inline">
            <input class="form-control ml-2" type="text" name="searchTerm"
                [(ngModel)]="service.searchTerm" placeholder="Pesquisar..."/>
            <span class="ml-3" *ngIf="service.loading$ | async">
                <div class="d-flex justify-content-center">
                    <div class="spinner-border" role="status">
                      <span class="visually-hidden"></span>
                    </div>
                  </div>
            </span>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" sortable="name" (sort)="onSort($event)">Produto</th>
                    <th scope="col" sortable="category" (sort)="onSort($event)">Categoria</th>
                    <th scope="col" sortable="description" (sort)="onSort($event)">Descrição</th>
                    <th scope="col" sortable="status" (sort)="onSort($event)">Status</th>
                    <th scope="col">Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let produto of produtos$ | async">
                    <th scope="row">{{ produto.id }}</th>
                    <td>
                        <ngb-highlight [result]="produto.name" [term]="service.searchTerm"></ngb-highlight>
                    </td>
                    <td>
                        <ngb-highlight [result]="produto.category" [term]="service.searchTerm"></ngb-highlight>
                    </td>
                    <td>
                        <ngb-highlight [result]="produto.description" [term]="service.searchTerm"></ngb-highlight>
                    </td>
                    <td>
                        <span class="badge rounded-pill bg-success mt-2">
                            <ngb-highlight [result]="produto.status" [term]="service.searchTerm">
                            </ngb-highlight>
                        </span>
                    </td>
                    <td>
                        <button class="btn btn-warning btn-sm">
                            <i class="material-icons md-18 mt-1">edit</i>
                        </button>
                        <button class="btn btn-danger btn-sm ml-2">
                            <i class="material-icons md-18 mt-1">close</i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="d-flex justify-content-between p-2">
            <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
            </ngb-pagination>

            <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
                <option [ngValue]="2">2 itens por página</option>
                <option [ngValue]="4">4 itens por página</option>
                <option [ngValue]="6">6 itens por página</option>
            </select>
        </div>

    </form>

</div>