<div class="body-content">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/painel']">Painel</a></li>
            <li class="breadcrumb-item active" aria-current="page">Saldo</li>
        </ol>
    </nav>
    <h1>Saldo</h1>

    <p>Confira seu saldo disponível para saque e detalhes dos saques que você já realizou</p>
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-1 col-sm-12">
                <h1>R$</h1>
            </div>
            <div class="col-md-3  col-sm-12">
                <h4>Saldo Total:</h4>
                <h4>R$ 89,95</h4>
            </div>
            <div class="col-md-8  col-sm-12">
                <h4>Disponível para saque:</h4>
                <h4 class="text-success">R$ 89,95</h4>
            </div>
        </div>
        <small>Seu saldo é insuficiente para fazer saque. O saque mínimo permitido é de R$ 20,00. Há uma tarifa de transferência de R$ 1,99 para resgates utilizando este meio de pagamento.</small>
    </div>
</div>