<div class="body-content">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/painel']">Painel</a></li>
      <li class="breadcrumb-item"><a [routerLink]="['/produto']">Produto</a></li>
      <li class="breadcrumb-item active" aria-current="page">Novo</li>
    </ol>
  </nav>
  <div class="mb-3">
    <h4>Cadastrar Produto</h4>
  </div>
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <li [ngbNavItem]="1">
      <a class="text-color-default" ngbNavLink>Dados Principais</a>
      <ng-template ngbNavContent>
        <div class="tab-extern">
          <div class="card-body">
            <app-dados-gerais></app-dados-gerais>
          </div>
        </div>
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <a ngbNavLink>Formato</a>
      <ng-template ngbNavContent>
        
      </ng-template>
    </li>
    <li [ngbNavItem]="3">
      <a ngbNavLink>Precificação</a>
      <ng-template ngbNavContent>
        
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>