<div class="body-content">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/painel']">Painel</a></li>
      <li class="breadcrumb-item"><a [routerLink]="['/produto']">Produto</a></li>
      <li class="breadcrumb-item active" aria-current="page">Novo</li>
    </ol>
  </nav>
  <div class="mb-3">
    <h4>Cadastrar Produto</h4>
  </div>
  <div class="card mb-3">
    <div class="card-body">
      <form>
        <div class="d-flex justify-content-center">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../../../assets/icone-photo.png" *ngIf="!imgURL">
            <img class="card-img-top" [src]="imgURL" *ngIf="imgURL">
            <div class="card-body">
              <div class="custom-file">
                <input #file  type="file" accept='image/*' (change)="preview(file.files)" class="custom-file-input" id="inputImagemProduto">
                <label class="custom-file-label" for="inputImagemProduto">Escolher Foto <small class="text-danger">*</small></label>
                <div class="invalid-feedback" *ngIf="message">{{message}}</div>
              </div>
            </div>
          </div>
        </div>
    
        <div class="row mb-3">
          <div class="col-md-8">
            <label for="inputNomeProduto" class="form-label">Nome do Produto: <small class="text-danger">*</small></label>
            <input type="text" class="form-control" id="inputNomeProduto" placeholder="Ex.: TV 55 polegadas">
          </div>
          <div class="col-md-4">
            <label for="inputQuantidade" class="form-label">Quantidade: <small class="text-danger">*</small></label>
            <input type="number" class="form-control" id="inputQuantidade" placeholder="0">
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-4">
            <label for="inputPrecoCompra" class="form-label">Preço de Compra: <small class="text-danger">*</small></label>
            <input type="text" class="form-control" id="inputPrecoCompra" placeholder="0,00 R$">
          </div>
          <div class="col-md-4">
            <label for="inputPrecoVenda" class="form-label">Preço de Venda: <small class="text-danger">*</small></label>
            <input type="text" class="form-control" id="inputPrecoVenda" placeholder="0,00 R$">
          </div>
          <div class="col-md-4">
            <label for="inputTipoProduto" class="form-label">Tipo de Produto: <small class="text-danger">*</small></label>
            <input type="text" class="form-control" id="inputTipoProduto" placeholder="Tipo de Produto">
          </div>
        </div>
        <label for="inputFornecedor" class="form-label">Descrição: <small class="text-danger">*</small></label>
        <ck-editor name="editor1" [(ngModel)]="editorValue" skin="moono-lisa" language="en" [fullPage]="true"></ck-editor>
      </form>
      <div class="d-flex justify-content-end mt-4">
        <button class="btn btn-theme-default-dark ml-2" ngbTooltip="Cancelar Cadastro" [routerLink]="['/produto']">
          <i class="material-icons small">close</i>
          Cancelar
        </button>
        <button class="btn btn-theme-default-green ml-2" ngbTooltip="Salvar Produto">
          <i class="material-icons small">save</i>
          Salvar
        </button>
      </div>
    </div>
  </div>
</div>