<div class="container-login">
    <div class="box-login pb-4 pt-4">
        <form [formGroup]="loginForm" class="container login-layout">
            <div class="text-center">
                <img width="200" src="../assets/logo-engenheiroQA-800px.webp">
            </div>

            <div class="form-group input-group-lg mt-5" [ngClass]="{'has-error': formFields.email.touched}">
                <input #emailInput class="form-control input-border" type="email" id="email" formControlName="email"
                    maxlength="50" placeholder="E-mail">
                <div *ngIf="formFields.email.touched">
                    <ap-vmessage *ngIf="loginForm.get('email').errors?.required" text="E-mail é obrigatorio!">
                    </ap-vmessage>
                </div>
            </div>
            <div class="form-group input-group-lg  mt-4" [ngClass]="{'has-error': formFields.password.touched}">
                <input class="form-control input-border" type="password" id="password" formControlName="password"
                    placeholder="Senha">
                <div *ngIf="formFields.password.touched">
                    <ap-vmessage *ngIf="loginForm.get('password').errors?.required" text="Senha é obrigatório!">
                    </ap-vmessage>
                </div>
                <small id="loginHelp" class="form-text text-white">
                    Utilize o e-mail e senha disponibilizado no botão abaixo.
                </small>
            </div>
            <div class="text-center mt-2">
                <button class="btn btn-como-acessar-login btn-lg col-12" (click)="open()">
                    ANTES DE ENTRAR, <span style="color:#30f77f">CLIQUE AQUI</span>!
                </button>
            </div>
            <div class="text-center mt-2">
                <button class="btn btn-login btn-lg col-12"
                    (click)="realizarLogin(loginForm.value)">ENTRAR</button>
            </div>
        </form>
    </div>
</div>