<div class="container-login">
    <div class="box-login pb-4 pt-4">
        <form [formGroup]="loginForm" class="container login-layout">
            <div class="text-center">
                <img width="100" src="../assets/logo-black-jt.png">
                <h6 class="text-light mt-2">
                    Aproveite ao Máximo a Plataforma. <br> 
                    Bons Estudos!
                </h6>
            </div>

            <div class="form-group input-group-lg mt-4" [ngClass]="{'has-error': formFields.email.touched}">
                <input #emailInput class="form-control input-border" type="email" id="email" formControlName="email"
                    maxlength="50" placeholder="E-mail">
                <div *ngIf="formFields.email.touched">
                    <ap-vmessage *ngIf="loginForm.get('email').errors?.required" text="E-mail é obrigatorio!">
                    </ap-vmessage>
                </div>
                <small id="loginHelp" class="form-text text-white">
                    <b>E-mail:</b> plataforma@jacksonteixeira.com
                </small>
            </div>
            <div class="form-group input-group-lg  mt-4" [ngClass]="{'has-error': formFields.senha.touched}">
                <input class="form-control input-border" type="password" id="senha" formControlName="senha"
                    placeholder="Senha">
                <div *ngIf="formFields.senha.touched">
                    <ap-vmessage *ngIf="loginForm.get('senha').errors?.required" text="Senha é obrigatório!">
                    </ap-vmessage>
                </div>
                <small id="loginHelp" class="form-text text-white">
                    <b>Senha:</b> plataformaJT
                </small>
            </div>
            <div class="text-center mt-2">
                <button class="btn btn-como-acessar-login btn-lg col-12" id="comoFunciona" type="button" (click)="open()">
                   COMO FUNCIONA?
                </button>
            </div>
            <div class="text-center mt-2">
                <button class="btn btn-login btn-lg col-12" id="buttonLogin" type="submit"
                    (click)="realizarLogin(loginForm.value)">ENTRAR</button>
            </div>
        </form>
    </div>
</div>