.jumbotron-filtro {
    padding: .75rem 1rem;
    margin-bottom: 1rem;
    background-color: #e9ecef;
    border-radius: .25rem;
}

.limit-25-caracter {
    max-width: 50ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.alert {
    margin-bottom: 8px;
}