<div class="body-content">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/painel']">Painel</a></li>
            <li class="breadcrumb-item active" aria-current="page">Produto</li>
        </ol>
    </nav>
    <div class="mb-3">
        <h4>Pesquisar Produto</h4>
        <small>Nessa funcionalidade você poderá gerenciar todos os seus produtos.</small>
      </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="mb-3 col-md-6 form-group">
                    <label for="produto">Produto:</label>
                    <select class="form-control" id="produto">
                        <option selected>Selecione...</option>
                        <option *ngFor="let produto of produtos" value={{produto.id}}>
                            {{produto.name}}
                        </option>
                    </select>
                </div>
                <div class="mb-3 col-md-6 form-group">
                    <label for="categoria">Categoria:</label>
                    <select class="form-control" id="categoria">
                        <option selected>Selecione...</option>
                        <option *ngFor="let categoria of categorias" value={{categoria.id}}>
                            {{categoria.categoria}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <button class="btn btn-theme-default" [routerLink]="['/produto/novo']" ngbTooltip="Cadastrar Produto">
                        <i class="material-icons small">add</i>
                        Cadastrar
                    </button>
                </div>
                <div class="col-md-6">
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-warning" ngbTooltip="Limpar Filtro de Pesquisa">
                            <i class="material-icons small">auto_fix_normal</i>
                            Limpar Filtro
                        </button>
                        <button class="btn btn-theme-default ml-2" ngbTooltip="Pesquisar">
                            <i class="material-icons small">filter_alt</i>
                            Pesquisar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form>
        <div class="form-group form-inline">
            <!-- <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="service.searchTerm"
                placeholder="Pesquisar..." /> -->
            <span class="ml-3" *ngIf="service.loading$ | async">
                <div class="d-flex justify-content-center">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden"></span>
                    </div>
                </div>
            </span>
        </div>

        <table class="table">
            <thead class="table-theme-default">
                <tr>
                    <th scope="col" sortable="name" (sort)="onSort($event)">Produto</th>
                    <th scope="col" sortable="category" (sort)="onSort($event)">Categoria</th>
                    <th scope="col" sortable="value" (sort)="onSort($event)">Valor</th>
                    <th scope="col" sortable="percentageCommission" (sort)="onSort($event)">Comissão (%)</th>
                    <th scope="col" sortable="status" (sort)="onSort($event)">Status</th>
                    <th scope="col">Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let produto of produtos$ | async">
                    <td>
                        <ngb-highlight [result]="produto.nomeDoProduto" [term]="service.searchTerm"></ngb-highlight>
                    </td>
                    <td>
                        <ngb-highlight [result]="produto.categoria.categoria" [term]="service.searchTerm">
                        </ngb-highlight>
                    </td>
                    <td>
                        {{produto.precoDeCompra}} R$
                    </td>
                    <td>
                        {{produto.precoDeVenda}} %
                    </td>
                    <td>
                        <span *ngIf="produto.status.id == 1" class="badge text-white rounded-pill bg-success mt-2">
                            {{produto.status.status}}
                        </span>
                        <span *ngIf="produto.status.id == 2" class="badge text-white rounded-pill bg-danger mt-2">
                            {{produto.status.status}}
                        </span>
                    </td>
                    <td>
                        <button class="btn btn-warning btn-sm" ngbTooltip="Alterar">
                            <i class="material-icons text-white mt-1 small" >edit</i>
                        </button>
                        <button class="btn btn-danger btn-sm ml-2" ngbTooltip="Excluir">
                            <i class="material-icons small mt-1">close</i>
                        </button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="service.page"
                            [pageSize]="service.pageSize">
                        </ngb-pagination>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <span class="" *ngIf="service.loading$ | async">
                            <div class="d-flex justify-content-center">
                                <div class="spinner-border" role="status">
                                    <span class="visually-hidden"></span>
                                </div>
                            </div>
                        </span>
                    </td>
                    <td>
                        <div class="d-flex justify-content-between p-2">
                            <select class="custom-select" style="width: auto" name="pageSize"
                                [(ngModel)]="service.pageSize">
                                <option [ngValue]="10">10 itens por página</option>
                                <option [ngValue]="25">25 itens por página</option>
                                <option [ngValue]="50">50 itens por página</option>
                                <option [ngValue]="100">100 itens por página</option>
                            </select>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>


    </form>

</div>