<div class="modal-header">
  <h5 class="modal-title"><b>Como funciona?</b></h5>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <p><b>UTILIZAR O E-MAIL E SENHA DISPONIBILIZADO:</b></p>
  
  <p>
    <b>E-mail: </b> plataforma@engenheiroqa.com<br>
    <b>Senha: </b> plataformaEQA
  </p>

  <p><b>SOBRE A PLATAFORMA <span class="text-danger">(LEIA COM ATENÇÃO)</span>:</b></p>

  <p><b>1 – </b>O comportamento da plataforma é baseado na realidade;</p>
  <p><b>2 – </b>O sistema não permite manipular os dados, somente verificar todos os comportamentos de telas, exemplo:
    campos obrigatórios, dados inválidos, mensagens de erro, mensagem de sucesso, modal de confirmação e pesquisas de
    dados
    existentes.</p>
  <p><b>3 – </b>Para aprender automação, é recomendado automatizar o maior número de cenários possíveis, para fixar bem
    as
    habilidades de automação.</p>
  <p><b>4 – </b>Bons estudos e aproveite o melhor dessa ferramenta para impulsionar sua carreira.</p>
  <p class="text-center"><b>BONS ESTUDOS!</b></p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">
    ENTENDI COMO FUNCIONA!</button>
</div>