.split-in-half {
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 1em;
}

@media (min-width: 1120px) {
    .split-in-half{
        grid-template-columns: repeat(2, 1fr);
    }    
}

.jumbotron-height-550 {
    height: 550px;
}