<div class="body-content">
  <div class="div-card-4 mb-2">
    <div class="card bg-dark text-white">
      <div class="ml-3 mt-2 mt-4 mr-3">
        <div  ngbTooltip="Valores de vendas recebidas hoje.">
          <h6>Quantidade Total de Produtos: <b><span class="text-success">0</span></b></h6>
          <h6>Valor Total de Compra: <b><span class="text-success">0</span></b></h6>
          <h6>Valor Total de Venda: <b><span class="text-success">0</span></b></h6>
        </div>
      </div> 
    </div>
    <div class="card bg-danger text-white"> 
      <div class="ml-3 mt-2 mr-3 mb-1">
        <i class="material-icons md-36">block</i>
        <h4 class="d-flex justify-content-end"><b>0</b></h4>
        <h6 class="d-flex justify-content-end">Produtos Inativos</h6>
      </div>
    </div>
    <div class="card bg-success text-white">
      <div class="ml-3 mt-2 mr-3 mb-1">
        <i class="material-icons md-36">check</i>
        <h4 class="d-flex justify-content-end"><b>0</b></h4>
        <h6 class="d-flex justify-content-end">Produtos Ativos</h6>
      </div> 
    </div>
  </div>
  <div class="split-in-half">
    <div class="card card-body">
      <div class="d-flex justify-content-center">
        <h4>Produtos</h4>
      </div>
      <div>
        <div *ngFor="let produto of produtos | async">
          <div class="card align-center" style="width: 100%;">
              <img src="{{produto.imagem}}" class="card-img-top"> 
              <div class="card-body">
                  <h5 class="card-title">
                      {{produto.nomeDoProduto}}
                  </h5>
                  <p class="card-text">{{produto.descricao}}</p>
                  <a href="#" class="btn btn-primary">Afiliar-se agora!</a>
              </div>
          </div>
      </div>
    </div>
    <div class="card card-body">
      <app-grafico-trinta-dias></app-grafico-trinta-dias>
    </div>
  </div>
</div>