.wrapper {
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 1em;
}

@media (min-width: 768px) {
    .wrapper {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 768px) {
    .wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}