<div class="body-content">
    <h1 class="mt-4">
        Produtos para Afiliação
    </h1>
    <p>Escolha o melhor produto para afiliação...</p>

    <div class="input-group">
        <input type="text" class="form-control" id="pesquisar_menu" placeholder="Pesquisar Produto" [formControl]="filterProduto">
    </div>

    <div class="row">
        <div *ngFor="let produto of produto$ | async">
            <div class="col-lg-4">
                <div class="card mt-3" style="width: 18rem;">
                    <img src="../../../assets/produto.png" class="card-img-top mt-2" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" [term]="filterProduto.name">{{produto.name}}</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                        <ngb-rating [(rate)]="currentRate" [readonly]="readonly">
                            <ng-template let-fill="fill" let-index="index">
                                <span class="star" [class.filled]="fill === 100" [class.bad]="index < 5">&#9733;</span>
                            </ng-template>
                        </ngb-rating>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>