<div class="body-content">
    <div class="alert alert-warning" role="alert">
        <b class="alert-link">Atenção!</b> As informações contidos nesta página são dados fictícios, somente para testes.
      </div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/painel']">Painel</a></li>
            <li class="breadcrumb-item active" aria-current="page">Mercado</li>
        </ol>
    </nav>
    <div class="mb-3">
        <h4>Mercado</h4>
        <small>Aqui estão todos os produtos disponíveis para venda.</small>
    </div>
    <div>
        <input type="text" class="form-control" id="pesquisar_produto" placeholder="Pesquisar Produto"
            [formControl]="filterProduto">
        <hr>
    </div>

    <div class="wrapper">
        <div *ngFor="let produto of produto$ | async">
            <div class="card align-center" style="width: 100%;">
                <img src="{{produto.imagem}}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title" [term]="filterProduto.nomeDoProduto">
                        {{produto.nomeDoProduto}}
                    </h5>
                    <p class="card-text">{{produto.descricao}}</p>
                    <ngb-rating [(rate)]="currentRate" [readonly]="readonly">
                        <ng-template let-fill="fill" let-index="index">
                            <span class="star" [class.filled]="fill === 100" [class.bad]="index < 5">&#9733;</span>
                        </ng-template>
                    </ngb-rating>
                    <div class="text-center">
                        <a href="#" class="btn btn-theme-default-green">Visualizar Produto</a>    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>