/* You can add global styles to this file, and also import other style files */

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.icon-pt {
    margin-top: 6px;
}

/* TOAST */

@import '~ngx-toastr/toastr';
@import '~ngx-toastr/toastr-bs4-alert';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~ngx-toastr/toastr-bs4-alert';

.body-content {
    padding-top: 65px;
    padding-right: 10px;
}

@media (min-width: 768px) {
    .body-content {
        padding-left: 260px;
    }
}

@media (max-width: 768px) {
    .body-content {
        padding-left: 10px;
    }
}

.btn-theme-default-green {
    background-color: #16a085;
    border-color: #16a085;
    color: white;
}

.btn-theme-default-green:hover {
    background-color: #12856e;
    border-color: #12856e;
    color: white;
}

.btn-theme-default-dark {
    background-color: #343A40;
    border-color: #343A40;
    color: white;
}

.btn-theme-default-dark:hover {
    background-color: rgb(36, 40, 44);
    border-color: rgb(36, 40, 44);
    color: white;
}

.color-default{
    color: #12856e;
}

.table-theme-default {
    color: #fff;
    background-color: #343A40;
}

.breadcrumb{
    background-color: #e1e2e2;
}